@charset "utf-8";

#desc_section .left_think{
    min-height: 40%;
    background: url('/WEB-INF/views/intro/think.jpg');
    background-size: cover;
    background-position: center;
}

#desc_section .left_same{
    min-height: 40%;
    background: url('/WEB-INF/views/intro/same.png');
    background-size: cover;
    background-position: center;
}

#desc_section .left_day{
    min-height: 40%;
    background: url('/WEB-INF/views/intro/day.jpg');
    background-size: cover;
    background-position: center;
}

#desc_section .left_connection{
    min-height: 40%;
    background: url('/WEB-INF/views/intro/connection.png');
    background-size: cover;
    background-position: center;
}

#desc_section .left_charida{
    min-height: 40%;
    background: url('/WEB-INF/views/intro/charida.jpg');
    background-size: cover;
    background-position: center;
}